body    
    {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f2f2f2;
    }
    .container
    {
        width: 400px;
        margin: 80px auto;
        padding: 30px;
        background-color: #f70404;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    .container h2
    {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }
    .form
    {
        display: flex;
        flex-direction: column;
    }
    .input
    {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }